<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/cars_sale</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="hibernate.jdbc.time_zone">Europe/Moscow</property>
        <mapping class="carsale.model.Car"/>
        <mapping class="carsale.model.Driver"/>
        <mapping class="carsale.model.Engine"/>
        <mapping class="carsale.model.Photo"/>
        <mapping class="carsale.model.Post"/>
        <mapping class="carsale.model.User"/>
        <mapping class="carsale.model.Brand"/>
        <mapping class="carsale.model.Body"/>
        <mapping class="carsale.model.Transmission"/>
        <mapping class="carsale.model.City"/>
    </session-factory>
</hibernate-configuration>